        <footer class="footer">
            <div class="footer-content-top-box">
                <div class="top-flex-wrapper d-flex align-items-center justify-content-between">
                    <div class="top-f-left d-flex align-items-center">
                        <p class="copyright-text">© Breeze - 2022</p>
                        <a href="https://github.com/breeze-foundation" target="_blank" class="githublink"><svg width="36" height="36" viewBox="0 0 36 36">
                                <path fill="#FFF" fill-rule="evenodd"
                                    d="M0 18.457c0 8.153 5.157 15.07 12.31 17.511.9.17 1.229-.4 1.229-.889 0-.439-.016-1.599-.025-3.138-5.007 1.114-6.063-2.475-6.063-2.475-.819-2.132-1.999-2.7-1.999-2.7-1.634-1.145.124-1.122.124-1.122 1.807.13 2.757 1.903 2.757 1.903 1.607 2.82 4.213 2.005 5.239 1.533.163-1.193.628-2.006 1.142-2.468-3.997-.466-8.199-2.048-8.199-9.12 0-2.016.702-3.664 1.853-4.954-.184-.467-.802-2.343.177-4.883 0 0 1.512-.498 4.95 1.89A16.847 16.847 0 0 1 18 8.926c1.529.006 3.068.212 4.507.62 3.435-2.388 4.945-1.89 4.945-1.89.981 2.54.363 4.416.179 4.883 1.153 1.29 1.85 2.938 1.85 4.953 0 7.09-4.208 8.65-8.218 9.107.646.57 1.22 1.697 1.22 3.418 0 2.467-.02 4.458-.02 5.063 0 .494.323 1.067 1.237.887C30.847 33.521 36 26.61 36 18.456 36 8.264 27.94 0 17.998 0 8.06 0 0 8.263 0 18.457z">
                                </path>
                            </svg></a>
                        <span class="version"></span>
                    </div>

                    <div class="top-f-right d-flex align-items-center justify-content-end">
                        <div class="single-logo"><a href="/"><img class="img-fluid" src="/images/logo.png"
                                    alt=""></a> <span>Breeze DAO</span></div>
                        <ul class="sc-links d-flex align-items-center justify-content-end">
                            <li><a href="https://twitter.com/tipmeacoffee" target="_blank"><img src="https://img.icons8.com/ios-filled/50/dddddd/twitter.png" alt=""></a></li>
                            <li><a href="https://t.me/tipmeacoffee" target="_blank"><img src="https://img.icons8.com/ios-filled/60/dddddd/telegram-app.png" alt=""></a></li>
                            <li><a href="https://discord.gg/eMfdUbkYHu" target="_blank"><img src="https://img.icons8.com/material-sharp/60/dddddd/discord-logo.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-content-bottom-box">
                <div class="ft-bottom-g-wrapper">
                    <div class="footer-widget first">
                        <p>A decentralized social media project by Breeze DAO.<br>
                        </p>
                    </div>

                    <div class="footer-widget">
                        <h5>Breeze</h5>
                        <ul class="ft-links">
                            <li><a href="https://breeze.foundation" target="_blank">Explorer</a></li>
                            <li><a href="https://breeze.foundation" target="_blank">Proposals</a></li>
                            <li><a href="https://breeze.foundation" target="_blank">Forum</a></li>
                        </ul>
                    </div>
                    <div class="footer-widget">
                        <h5>Community</h5>
                        <ul class="ft-links">
                            <li><a href="https://tipmeacoffee.com" target="_blank">TipMeACoffee.com</a></li>
                            <li><a href="https://tmac.finance" target="_blank">TMAC.finance</a></li>
                            <li><a href="https://tipmeacoffee.help" target="_blank">TipMeACoffee.help</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <script src="/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Parallax js -->
    <script src="/js/dzsparallaxer.js"></script>
    <script src="/js/jquery.syotimer.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>