<!DOCTYPE html><html lang="en-US" class="no-js"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Breeze DAO - A Decentralized Social Media</title>
<meta name="description" content="Breeze DAO – Developing a decentralized social media TipMeACoffee (TMAC) on Breeze blockchain to explore true Freedom of Speech.">
<meta name="og:title" content="Breeze DAO - A Decentralized Social Media">
<meta name="og:description" content="Breeze DAO – Developing a decentralized social media TipMeACoffee (TMAC) on Breeze blockchain to explore true Freedom of Speech.">
<meta property="og:type" content="website" />
<meta property="og:title" content="Breeze DAO - A Decentralized Social Media" />
<meta property="og:description" content="Breeze DAO – Developing a decentralized social media TipMeACoffee (TMAC) on Breeze blockchain to explore true Freedom of Speech." />
<meta property="og:image" content="https://breeze.foundation/images/breeze-dao.png" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Breeze DAO - A Decentralized Social Media" />
<meta name="twitter:description" content="Breeze DAO – Developing a decentralized social media TipMeACoffee (TMAC) on Breeze blockchain to explore true Freedom of Speech." />
<meta name="twitter:image" content="https://breeze.foundation/images/breeze-dao.png" />

<link rel="icon" href="/images/favicon.ico">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/responsive.css">
</head>
<body class="darker-blue">
    <header class="header-area wow fadeInDown" data-wow-delay="0.2s">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <nav class="classy-navbar justify-content-between" id="dreamNav">
                    <a class="nav-brand" href="#"><img draggable="false" src="/images/logo.png" alt="logo" style="width: 36px;"></a>
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <div class="classy-menu">
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <div class="classynav">
                            <ul id="nav">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#dao">DAO</a></li>
                                <li><a href="#chain">Blockchain</a></li>
                                <li><a href="#dapps">DAPPS</a></li>
                                <li><a href="#economy">Economy</a></li>
                                <li><a href="https://forum.breeze.foundation" target="_blank">Forum</a></li>
                                <li><a href="#development">Developers</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>