<%- include('./common/header') %>
    <section class="token-distribution pt-class token-pge" id="economy">
        <div class="container">
            <div class="section-heading text-center">
                <h1 class="wow fadeInUp" data-wow-delay="0.3s">Breeze DAO Token</h1>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Governance token of breeze DAO is BREEZE.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="info-wrapper wow fadeInUp" data-wow-delay="0.2s">

                        <div class="benefits-wrapper">
                            <h5 class="token-data">Benefits of BREEZE token</h5>

                            <ul class="benefits-list">
                                <li>
                                    <div class="pulse-dot position-absolute">
                                        <div class="ringring"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <p><span class="token-data">Governance :</span>Holders of breeze tokens will be able
                                        to
                                        make all
                                        decisions of breeze dao through voting on proposals.</p>
                                </li>
                                <li>
                                    <div class="pulse-dot position-absolute">
                                        <div class="ringring"></div>
                                        <div class="circle"></div>
                                    </div>
                                    <p><span class="token-data">Dividend :</span>Holders of breeze tokens will earn
                                        regular
                                        dividend
                                        from TMAC tokens. 10% of TMAC tokens are set for this dividend pool. These
                                        dividends
                                        will be
                                        distributed among token holders on regular basis through proposals.</p>
                                </li>
                            </ul>
                        </div>

                        <div class="info-top-descrip">
                            <p>Being a governance token, BREEZE is up for grab by any user through sales (currently
                                private
                                sale
                                only). A Multi-sign wallet has been created by Breeze DAO, named as Breeze Treasury
                                Wallet
                                which
                                will hold all raised funds and any left-over BREEZE tokens.</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="token-right-content position-relative">
                        <img class="position-absolute token-pattern" src="./images/pattern.png" alt="">
                        <div class="tkn-content">
                            <div class="conuter-header">
                                <h3 class="text-center">BREEZE</h3>
                            </div>
                            <div class="counterdown-content">
                                <ul>
                                    <li><span>Token Name :</span> <span>BreezeDAO</span></li>
                                    <li><span>Token Symbol :</span> <span>BREEZE</span></li>
                                    <li><span>Chain :</span> <span>BSC</span></li>
                                    <li><span>Decimals :</span> <span>18</span></li>
                                    <li><span>Max Supply :</span> <span>210M</span></li>
                                </ul>
                                <div class="text-center">
                                    <a href="" target="_blank" class="button mt-30"
                                        style="background: #25cbd3;color: #190345">Breeze Token (BSC)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./common/footer') %>