<%- include('./common/header') %>

    <section class="token-distribution" style="padding-bottom:120px; margin-top: 140px;" id="economy">
        <div class="container">
            <div class="section-heading text-center">
                <h1 class="wow fadeInUp" data-wow-delay="0.3s">Breeze DAO Token</h1>
                <p class="wow fadeInUp" data-wow-delay="0.4s">Governance token of breeze DAO is BREEZE.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="info-wrapper text-left mb-100 wow fadeInUp" data-wow-delay="0.2s" style="padding:20px">
                    <p>Being a governance token, BREEZE is up for grab by any user through sales (currently private sale only). A Multi-sign wallet has been created by Breeze DAO, named as Breeze Treasury Wallet which will hold all raised funds and any left-over BREEZE tokens.</p>
                    <h5 class="token-data">Benefits of BREEZE token</h5>

                    <p><span class="token-data">Governance:</span> Holders of breeze tokens will be able to make all decisions of breeze dao through voting on proposals.</p>
                    <p><span class="token-data">Dividend:</span> Holders of breeze tokens will earn regular dividend from TMAC tokens. 10% of TMAC tokens are set for this dividend pool. These dividends will be distributed among token holders on regular basis through proposals.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="ico-counter">
                    <div class="counter-down">
                        <div class="content">
                            <div class="conuter-header">
                                <h3 class="text-center">BREEZE</h3>
                            </div>
                            <div class="counterdown-content">
                                <p>
                                    <li>Token Name: BreezeDAO</li>
                                    <li>Token Symbol: BREEZE</li>
                                    <li>Chain: BSC</li>
                                    <li>Decimals: 18</li>
                                    <li>Max Supply: 210M</li>
                                </p>
                                <div class="text-center">
                                    <a href="" target="_blank" class="button mt-30" style="background: #25cbd3;color: #190345">Breeze Token (BSC)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </section>
<%- include('./common/footer') %>