<!DOCTYPE html><html lang="en-US">
<head>
	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
	<title>Breeze Foundation - Breeze Blockchain by DAO</title>
	<meta name="description" content="Breeze Foundation. The governing body (DAO) of breeze blockchain">
	<meta name="keywords" content="breeze, tipmeacoffee">
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet" href="/css/solidcolor-2.css" type="text/css">
</head>
<body>
	<section id="Main" class="overlay">
		<div id="particles-js"></div>
		<div class="overlay-content">
			<div class="content">
				<div class="container">
					<div class="coming-soon-count" style="margin-top:15vh;"><img src="https://i.postimg.cc/FF83HCvZ/breeze-logo.png" style="width: 80%;"></div>
					<div class="coming-soon-text"><h2>Breeze DAO - A Project For Decentralized Social Media</h2></div>
					<div class="btn-holder">
						<a href="https://tipmeacoffee.com" class="btn btn-custom btn-transparent" target="_blank">TipMeACoffee.com</a>
						<a href="https://tmac.finance" class="btn btn-custom btn-transparent" target="_blank">TMAC.finance</a>
						<a href="https://breezescan.io" class="btn btn-custom btn-transparent" target="_blank">BreezeScan.io</a>
					</div>
					<div class="social-holder">
						<ul class="list-inline list-social clearfix">
							<li><a href="https://twitter.com/tipmeacoffee" class="social-icon social-icon-twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
							<li><a href="https://t.me/tipmeacoffee" class="social-icon social-icon-linkedin" target="_blank"><i class="fab fa-telegram"></i></a></li>
							<li><a href="https://discord.gg/eMfdUbkYHu" class="social-icon social-icon-linkedin" target="_blank"><i class="fab fa-discord"></i></a></li>
							<li><a href="https://github.com/breeze-foundation" class="social-icon social-icon-linkedin" target="_blank"><i class="fab fa-github"></i></a></li>
						</ul>
					</div>
				</div><!-- End container -->
			</div>
		</div><!-- End of overlay-content -->
	</section><!-- End of #Main -->

	<br>
	
	<section id="About" class="overlay">
		<div class="overlay-content">
			<div class="content">
				<div class="container">
					<h3>Breeze DAO</h3>
				</div>
			</div>
		</div>
	</section>
	

	<script src="/js/jquery-3.4.1.min.js"></script>
	<script src="/js/particles.min.js"></script><script src="/js/app.js"></script>
    <script src="js/main.js"></script>
</body>
</html>