<%- include('./common/header') %>
    <section class="welcome_area clearfix dzsparallaxer auto-init ico fullwidth" data-options='{direction: "normal"}' id="home">
        <div class="divimage dzsparallaxer--target" style="width: 101%; height: 100%; background-image: url(/images/global.png)"></div>
        <div class="hero-content dark-blue">
            <div class="dream-blip blip1"></div>
            <div class="dream-blip blip2"></div>
            <div class="dream-blip blip3"></div>
            <div class="dream-blip blip4"></div>
            <div class="dream-blip blip5"></div>
            <div class="dream-blip blip6"></div>
            <div class="dream-blip blip7"></div>
            <div class="dream-blip blip8"></div>
            <div class="dream-blip blip9"></div>
            <div class="dream-blip blip10"></div>

            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Welcome Content -->
                    <div class="col-12 col-lg-12 col-md-12">
                        <div class="welcome-content text-center">
                            <div class="promo-section">
                            <img src="https://i.postimg.cc/FF83HCvZ/breeze-logo.png" style="width:70%;">
                            </div>
                            <h1 class="wow fadeInUp" data-wow-delay="0.2s">Explore True FREEDOM OF SPEECH</h1>
                            <p class="wow fadeInUp" data-wow-delay="0.3s" style="padding-bottom:30px;">A social media where no more centralization nor censorship</br>The Future of Social Media </p>
                            <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                                <ul class="list-unstyled list-inline social-list">
                                    <li><a href=""><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href=""><i class="fa fa-telegram"></i></a></li>
                                    <li><a href=""><i class="fa fa-github-square"></i></a></li>
                                    <li><a href=""><i class="fab fa-discord"></i></a></li>
                                    <li><a href=""><i class="fa fa-medium"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-area section-padding-0-100 clearfix mb-40" id="dao">
        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
             <hr style="border-top:1px solid rgba(255 255 255 / 16%);width: 20%;margin: 0 auto;">
        </div>
        <div class="container">
            <div class="row align-items-center" style="margin-top: 130px;">
                <div class="col-12 col-lg-6">
                    <div class="welcome-video-area wow fadeInUp" data-wow-delay="0.5s" style="margin-top:20px">
                        <div class="welcome-thumb">
                            <img draggable="false" src="/images/bg-4.jpg" alt="">
                        </div>
                        <div class="video-icon">
                            <a href="https://www.youtube.com/watch?v=gbXEPHsTkgU" class="btn dream-btn video-btn" id="videobtn"><i class="fa fa-play"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="who-we-contant">
                        <h4 class="wow fadeInUp" data-wow-delay="0.3s">Breeze DAO</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">
                        Breeze DAO is a decentralized autonomous organizations started with core idea of developing decentralized social media. The project is completely run by its community members. Any one can become DAO member by owing governance tokens. Members having governance tokens (BREEZE) are decision making entities via voting on proposals. Breeze token holders also get daily dividend reward.</p>
                        <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#" class="btn dream-btn mr-3">Claim Reward</a>
                            <a href="#" class="btn dream-btn">Proposals</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-us-area" id="chain" style="margin-bottom:80px">
        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
             <hr style="border-top:1px solid rgba(255 255 255 / 16%);width: 20%;margin: 0 auto;">
        </div>
        <div class="container">
            <div class="row align-items-center" style="margin-top:80px">
                <div class="col-12 col-lg-6">
                    <div class="who-we-contant">
                        <h4 class="wow fadeInUp" data-wow-delay="0.3s">Breeze Blockchain</h4>
                        <p class="wow fadeInUp" data-wow-delay="0.3s">Breeze turns the concept of blockchain into dApp optimization by developing a dedicated chain for decentralized social media platform..</p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Breeze blockchain operates with 3 seconds of block time and a daily maximum supply of 8640 tokens.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">TMAC is native token of breeze blockchain which runs on Proof Of Likes ecosystem. Each TMAC token that is generated gets distributed among all the contributors of economy as per given reward pool.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Breeze is an optimistic web3 solution with complete deFi solution and has no transaction fee. It is developed to scale as per future needs where metaverse will be a big part of Breeze.</p>
                        <p class="wow fadeInUp" data-wow-delay="0.4s">Breeze blockchain is secured with multiple actively running validator nodes and dozens of backup nodes. Anyone can discover, develop and deploy with ease of GitHub open-source practices</p>
                        <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                            <a href="#" class="btn dream-btn mr-3">Explorer</a>
                            <a href="#" class="btn dream-btn">Validators</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="welcome-meter wow fadeInUp" data-wow-delay="0.7s">
                        <img draggable="false" src="/images/solution.png" class="center-block" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section class="token-distribution">
        <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
             <hr style="border-top:1px solid rgba(255 255 255 / 16%);width: 20%;margin: 0 auto;">
        </div>
        <div class="container" style="margin-top:120px">
            <!--<div class="service-img-wrapper col-lg-6 col-md-12 col-sm-12">-->
            <div class="services-column col-lg-6 offset-lg-0 col-md-10 offset-md-1 col-xs-10 offset-xs-1">
                <div class="image-box">
                    <img draggable="false" src="/images/1.png" class="center-block img-responsive phone-img" alt="">
                    <img draggable="false" src="/images/rings-bg.png" class="center-block img-responsive rings " alt="">
                </div>
            </div>
            <!--<div class="services-column col-lg-5 col-lg-offset-1 col-md-10 offset-md-1 col-xs-10 offset-xs-1">-->
            <div class="service-img-wrapper how col-lg-6 col-md-12 col-sm-12">
                <div class="who-we-contant">
                    <h4 class="wow fadeInUp" data-wow-delay="0.3s">Social Media dApp</h4>
                    <p class="wow fadeInUp" data-wow-delay="0.3s">Tip Me A Coffee (tipmeacoffee.com) is the next level of social media platform developed by breeze DAO on breeze blockchain to solve common issues of conventional social media.</p>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"><b>Centralization: </b>TipMeACoffee is run under breeze DAO which makes sure that no central authority to block or delete users accounts.</p>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"><b>Censorship:</b> Breeze ensures freedom of speech via posting content on blockchain. No one without keys can edit or delete it.</p>
                    <p class="wow fadeInUp" data-wow-delay="0.4s"><b>Rewards:</b> As compared to conventional social media platforms, users get rewarded for every like on TipMeAcoffee which makes their time and efforts valuable. </p>
                    <div class="dream-btn-group wow fadeInUp" data-wow-delay="0.4s">
                        <a href="#" class="btn dream-btn mr-3">TipMeACoffee.com</a>
                        <a href="#" class="btn dream-btn">Reward Pool</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container" style="padding-bottom: 50px" id="start">
        <div class="subscribe">
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscribe-wrapper" style="background: #0f0747;">
                        <div class="section-heading text-center" style="margin-bottom: 2px;">
                            <h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Breeze DeFi</h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">To give our users best of blockchain experience, Breeze has its own DeFi dApp where rewards for staking and LP mining are available</p>

                            <div class="service-text mt-30 mb-40" style="padding-bottom: 40px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                                    <a href="" class="button" style="background:#25cbd3;color: #190345;"></i>TMAC.Finance</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-4 col-md-12">
                                    <!-- Content -->
                                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.2s">
                                        <!-- Icon -->
                                        <div class="service_icon">
                                            <img draggable="false" src="/images/2.svg" alt="">
                                        </div>
                                        <h6>TMAC Staking</h6>
                                        <p>20% of daily generated TMAC tokens are rewarded to Staking</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4 col-md-12">
                                    <!-- Content -->
                                    <div class="service_single_content text-center mb-100 wow wow fadeInUp" data-wow-delay="0.3s">
                                        <!-- Icon -->
                                        <div class="service_icon">
                                            <img draggable="false" src="/images/1.svg" alt="">
                                        </div>
                                        <h6>TMAC LP Mining</h6>
                                        <p>30% of daily generated TMAC tokens are rewarded to LP Mining</p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-4 col-md-12">
                                    <!-- Content -->
                                    <div class="service_single_content text-center mb-100 wow fadeInUp" data-wow-delay="0.4s">
                                        <!-- Icon -->
                                        <div class="service_icon">
                                            <img draggable="false" src="/images/4.svg" alt="">
                                        </div>
                                        <h6>TMAC Bridge </h6>
                                        <p>TMAC token is available on multiple blockchains via TMAC bridge</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <div class="clearfix"></div>
    <section class="token-distribution" style="padding-bottom:0px">
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="wow fadeInUp" data-wow-delay="0.3s">TMAC Tokenomics</h2>
                <p class="wow fadeInUp" data-wow-delay="0.4s">TMAC token economy has been developed in a way that every contributor of the community gets rewarded for his efforts.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="token-allocation">
                    <img draggable="false" src="/images/tmac-tokenomics.png" class="center-block" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="info-wrapper text-left mb-100 wow fadeInUp" data-wow-delay="0.2s" style="padding:14px">
                    <p><span class="token-data">Supply:</span><span>Maximum daily supply of TMAC is 8640 tokens</span></p>
                    <hr style="border-top: 1px solid rgb(9 150 159);">
                    <p><span class="token-data">Revenue:</span><span>Advertising on breeze dapps is the main revenue generation source</span></p>
                    <hr style="border-top: 1px solid rgb(9 150 159);">
                    <p><span class="token-data">Growth:</span><span>Breeze DAO has set a basic rule to use all of the advertising income from its dapps to buy back and burn TMAC tokens, thus resulting in an abundant upward trend for TMAC price. This growth is set to multiply with every new user into breeze ecosystem.</span></p>
                </div>
            </div>
        </div>    
    </section>
    <div class="faq-timeline-area section-padding-80">
        <hr style="border-top:1px solid rgba(255 255 255 / 16%);width: 20%;margin: 0 auto;">
        <div class="container" style="margin-top:80px;">
            <div class="row">
                <div class="col-12 col-lg-7 col-md-12">
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Basics of Breeze Ecosystem</h2>
                    </div>
                    <div class="dream-faq-area">
                        <dl>
                            <dt class="wave wow fadeInUp" data-wow-delay="0.2s">What is difference of Breeze and TMAC tokens?</dt>
                            <dd class="wow fadeInUp" data-wow-delay="0.3s">
                                <p>Breeze is the governance token of Breeze DAO which gives voting power to holders and daily dividend reward.
                                TMAC is the utility token of breeze blockchain  for dapps tipmeacoffee.com and tmac.finance. </p>
                            </dd>
                            <dt class="wave wow fadeInUp" data-wow-delay="0.3s">What are objectives of Breeze DAO?</dt>
                            <dd>
                                <p>Breeze DAO has been started with a comprehensive objective of decentralized social media. Main goal is to ensure freedom of speech via an open-source social media platform so users can express themselves freely. It also serves the purpose of rewarding social media users for their time and effort as compared to any centralized social media platform.</p>
                            </dd>
                            <dt class="wave wow fadeInUp" data-wow-delay="0.4s">What problems does Breeze solve?</dt>
                            <dd>
                                <p>Breeze solves 3 major issues in conventional social media<br>
                                Centralization, No rewards for users, Censorship<br>
                                To counter these problems, breeze has with following solutions<br>
                                DAO: Through DAO governance it is made sure that there is no central authority<br>
                                Reward System: Through tokenization of social media, Breeze make sure that every contributor of community get rewarded for his time and efforts<br>
                                Blockchain: Through deployment of blockchain, censorship is taken out of question as users own their content and no one can edit or remove it.</p>
                            </dd>
                            <dt class="wave wow fadeInUp" data-wow-delay="0.5s">What value Breeze offers to investors?</dt>
                            <dd>
                                <p>Social Media is a proven growth modal. Breeze has developed its core values to ensure abundant upward trend and less downward pressure through its vibrant business modal of buying back and burning. As the platform grows, being an autonomous decentralized organization breeze reward its contributors as per their contribution and investors being back bone of this ecosystem earns the highest values in the form of governance and dividend.</p>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-12 col-lg-5 offset-lg-0 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
                    <div class="ico-counter">
                        <div class="counter-down">
                            <div class="content">
                                <div class="conuter-header">
                                    <h3 class="text-center">Developer Appraisal Fund</h3>
                                </div>
                                <div class="counterdown-content">
                                    <p>With an approach to open source and decentralized social media, Breeze has put part of daily reward pool (2%) for developers to develop new features on breeze dapps including improvement of breeze blockchain. Development related discussions are available on community forum and opportunity is provided on Breeze foundation github.</p>
                                    <div class="text-center">
                                        <a href="#" class="button mt-30" style="background: #25cbd3;color: #190345">Breeze Github</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ico-docs">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">WhitePaper</span></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="doc-element">
                                    <a class="document-entry" href="#" target="_blank"><span class="title">OnePager</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="partners" style="margin: 50px;">
        <div class="section-heading text-center">
            <div class="dream-dots justify-content-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
             <hr style="border-top: 1px solid rgba(255 255 255 / 16%);width: 20%;margin: 0 auto;">
            </div>
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">Our Partners</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/1.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/2.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/3.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/4.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/5.png" alt="" class="center-bock">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="partner-box">
                        <img draggable="false" src="img/partners/6.png" alt="" class="center-bock">
                    </div>
                </div>
            </div>
        </div>
    </section>
<%- include('./common/footer') %>